<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <META name="Description" content=" 成立于1998年的北京丰意德家具有限责任公司是目前国内代理国外顶级家居品牌最多、国际家居流行趋势更新最快,展厅规模最大的一家进口家具代理销售机构。 丰意德代理经营诸多...">
    <META name=Keywords content="丰意德,意大利,进口家具,家具">
    <title>北京丰意德家具有限责任公司--我们的历史</title>
    <link href="css/index.css" type="text/css" rel="stylesheet"/>
    <link href="css/base.css" type="text/css" rel="stylesheet"/>
    <link href="css/news.css" type="text/css" rel="stylesheet"/>
    
    <link rel="stylesheet" href="css/supersized.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="theme/supersized.shutter.css" type="text/css" media="screen" />
    
    <script type="text/javascript" src="js/jquery-1.7.min.js"></script>
    
    <script type="text/javascript" src="js/jquery.easing.min.js"></script>
	<script type="text/javascript" src="js/news.js"></script>
	<script type="text/javascript" src="theme/supersized.shutter.js"></script>
	
    <script type="text/javascript" src="js/jscroll.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript">
	    jQuery(function($){
	    	
			$.supersized({
			
				// Functionality
				autoplay				:	0,
				slide_interval          :   3000,		// Length between transitions
				transition              :   1, 			// 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
				transition_speed		:	700,		// Speed of transition
				// Components							
				slide_links				:	'num',	// Individual links for each slide (Options: false, 'num', 'name', 'blank')
				slides 					:  	[			// Slideshow Images  image:big_img thumb:small_img
													{image : 'images/transparent.png', title : 'news_id_01', thumb : 'images/mid_pic.jpg', url : ''},
													{image : 'images/transparent.png', title : 'news_id_02', thumb : 'images/small_pic.jpg', url : ''},  
													{image : 'images/transparent.png', title : 'news_id_03', thumb : 'images/small_pic1.jpg', url : ''},
													{image : 'images/transparent.png', title : 'news_id_04', thumb : 'images/small_pic2.jpg', url : ''},
													{image : 'images/transparent.png', title : 'news_id_05', thumb : 'images/small_pic3.jpg', url : ''},
													{image : 'images/transparent.png', title : 'news_id_06', thumb : 'images/small_pic4.jpg', url : ''},
													{image : 'images/transparent.png', title : 'news_id_07', thumb : 'images/small_pic5.jpg', url : ''},
													{image : 'images/transparent.png', title : 'news_id_08', thumb : 'slides/product/8.jpg', url : ''},
													{image : 'images/transparent.png', title : 'news_id_09', thumb : 'slides/product/9.jpg', url : ''},
													{image : 'images/transparent.png', title : 'news_id_10', thumb : 'slides/product/1.jpg', url : ''}
											]
				
			});
			
			var news_title = '第四届为坐而设计';
			var news_cont = '2011年9月30日，著名设计师斯Stefano Giovznnon蒂凡诺.乔凡诺尼来到北京，据了解，国际设计起源于意大利米兰，是全球设计界最著名的盛世。本次设计周有多位意大利顶级设计师参与，其中就有丰意德旗下代理品牌 kagis的首席设计2011年9月30日，著名设计师斯Stefano Giovznnon蒂凡诺.乔凡诺尼来到北京，据了解，国际设计起源于意大利米兰，是全球设计界最著名的盛世。本次设计周有多位意大利顶级设计师参与，其中就有丰意德旗下代理品牌 kagis的首席设计师2011年9月30日，著名设计师斯Stefano Giovznnon蒂凡诺.乔凡诺尼来到北京，据了解，国际设计起源于意大利米兰，是全球设计界最著名的盛世。本次设计周有多位意大利顶级设计师参与，其中就有丰意德旗下代理品牌 kagis的首席设计师师...';
			newsContent(news_title,news_cont);

	    });
	    
    </script>
    
</head>

<body>
<div id="container">
   <div class="top"><a href="main.html"><img src="images/logo.png" width="138" height="61"></a></div>
    <div class="menu_top">
        <p><img src="images/left_topmenu.png" width="84" height="51"/></p>
        <ul>
            <li><a><img src="images/top_menu.png" width="45" height="51"/></a></li>
            <li><img src="images/top_menu1.png" width="70" height="51"/></li>
            <li><img src="images/top_menu2.png" width="77" height="51"/></li>
            <li><img src="images/top_menu3.png" width="70" height="51"/></li>
            <li><img src="images/top_menu4.png" width="56" height="51"/></li>
            <li><img src="images/top_menu5.png" width="46" height="51"/></li>
            <li><img src="images/top_menu6.png" width="46" height="51"/></li>
            <li><img src="images/top_menu7.png" width="35" height="51"/></li>
            <li><img src="images/top_menu8.png" width="98" height="51"/></li>
            <li><img src="images/top_menu9.png" width="70" height="51"/></li>
        </ul>
    </div>
    <div class="mid_top">
        <p><img src="images/left_midmenu.png" width="112" height="51"/></p>
        <ul>
            <li><img src="images/mid_menu.png" width="47" height="50"/></li>
            <li><img src="images/mid_menu1.png" width="47" height="51"/></li>
            <li><img src="images/mid_menu2.png" width="44" height="51"/></li>
            <li><img src="images/mid_menu3.png" width="44" height="51"/></li>
            <li><img src="images/mid_menu4.png" width="63" height="51"/></li>
            <li><img src="images/mid_menu5.png" width="63" height="51"/></li>
        </ul>
    </div>
    
    <div class="bigpic">
    	<div id="foucs">
	    	<div class="element pict"><img src="images/bg.jpg" /></div>
			<div class="element pict main"><img src="images/big_pic1.jpg" /></div>
			<div class="element pict"><img src="images/big_pic.jpg" /></div>
			<div class="element pict"><img src="images/bg.jpg" /></div>
			<div class="element pict"><img src="images/big_pic.jpg" /></div>
			<div class="element pict"><img src="images/big_pic2.jpg" /></div>
			
			<div class="element navi left">向左</div> 
			<div class="element navi right">向右</div>
		</div>
    </div>
    
    <!--原为title现在由于存放新闻的ID-->
	<div id="slidecaption" class="pic_con" style="display: none;"></div>
    <div class="cons">
         <div class="conle"><p id="news_title"></p></div>
         <div class="conri">
         	<div id="news_cont" class="time_charle" style="top:0px; position:relative;">
                    
            </div>
         </div>
    </div>
    
    <div class="pic_mains">
        <div class="pic_scroll">
           <div id="thumb-tray" class="load-item">
				<div id="thumb-back"></div>
				<div id="thumb-forward"></div>
			</div>
        </div>
    </div>
    <div class="main_footer">
        <ul>
            <li><a href="aboutus_history.html">About us</a></li>
            <li><a href="stores.html">Stores</a></li>
            <li><a href="aboutus_pic.html" style="color: #EC934A">Press</a></li>
            <li><a href="aboutus_marking.html">Furniture Blog </a></li>
            <li><a href="#">Hoursewares Blog</a></li>
        </ul>
        <ol>
            <li><img src="images/bot_ri1.png" width="29" height="28" /></li>
            <li><img src="images/bot_ri2.png" width="30" height="27" /></li>
            <li><img src="images/bot_ri3.png" width="30" height="28"/></li>
        </ol>
    </div>
</div>
</body>
</html>

